/* This file is a mess and i dont care about it...get out of here! */

/** {
  margin: 0;
  padding: 0;
}*/


.gist {
  font-weight: normal;
  text-shadow: none;
}
  .gist a {
    color: #666666!important
  }
  .gist-file {
    border: none!important;
  }
  .gist-meta {
    background-color: transparent!important;
    font-size: 10px!important;
  }
  .gist-data {
    background-color: transparent!important
  }
  .gist-highlight .line {
    color: #666666!important;
  }
  .gist-highlight .nt,
  .gist-highlight .na {
    color: #666666!important;
  }
  .gist-highlight .s {
    color: #666666!important;  
  }
  .gist-highlight .nx {
    color: #666666!important;
  }
  
  
  
select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}