.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding:0px;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow:hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	margin:0 0px;
}
.jcarousel-skin-tango .jcarousel-item {
	width:181px;
	height:auto;
	position:relative;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right:20px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background:#fff;
	color:#000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
	position:absolute;
	top:72px;
	right:-21px;
	width:11px;
	height:22px;
	cursor:pointer;
	background:transparent url(../images_php/next-horizontal1.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
	background-position:0 bottom;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
	background-position:0 bottom;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	position:absolute;
	top:72px;
	left: -25px;
	/*right:520px;*/
	width:11px;
	height:22px;
	cursor:pointer;
	background:transparent url(../images_php/prev-horizontal1.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
	background-position:0 bottom;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
	background-position:0 bottom;
}


.Products_Top_Bg
{
	width: 220px;
	float: left;
	height: 95px;
	border: solid 0px #b5b5b5;
	margin: 20px 0px 0px 0px;
}


.Products_Bottom_Bg
{
	width: 220px;
	float: left;
	font-family:"FuturaMdBTMedium";
	border: solid 0px #FF00FF;
	padding: 10px 0px 0px 0px;
	text-align: center;
	color: #666;
	font-size: 14px;

}





select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}