#wrapper {
	width:100%;
	height:100%;
	position:relative
}
#container {
	width:960px;
	margin:0 auto
}
#settings {
	width:235px;
	position:absolute;
	background-color: #99cc00;
}
.button_s {
	
	border-bottom: 0px solid #a9c458;
	border-top-color:#d3d8e2;
	border-bottom-color:#bfc4cf;
	display:block;
	font-weight: normal;
	color:#FFFFFF;
	background: #99cc00;
	position:relative;
	cursor:pointer;width:235px;
}
.button_s span.txt {
	height:23px;
	padding: 3px 0 0 25px;
	___background:url(../images/profile_img.jpg) no-repeat;
	display:block;
	line-height:16px;
	line-height:15px\9;
}
.button_s span.ar {
	font-size: 12px;
	position: absolute;
	top: 0px;
	right: 12px;
	text-align: right;
}
.button_s:hover {
	color:#FFFFFF;
	background: #99cc00;
	height:26px;
}
.button_s:active, .button_s.active {
	color:#FFFFFF;
	background: #99cc00;
}
.button_s.active {
	border-bottom:0;
}
.button_s:hover span.txt, .button_s:active span.txt, .button_s.active span.txt {
	background-position:0 0;
}
.menu {
	position:absolute;
	top: 26px;
	left:0;
	right:0;
	background:#83aa0d;
	border-top:0;
	display:none;
	z-index:40000;
}
.menu ul {
	list-style:none;
	padding:3px;
}
.menu ul li {
	display:block;
	zoom:1;
}
.menu ul li a {
	padding:3px 10px;
	font-size:13px;
	display:block;
	margin:-1px 0 0 0;
	position:relative;
	zoom:1;
	text-align:left
}
.menu ul li a span {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;
	z-index:20;
	display:none;
	zoom:1;
}
.menu ul li ul {
	list-style:none;
	padding:10px 0px 0px 0px;
}
.menu ul li ul li {
	display:block;
	zoom:1;
	padding-left:18px;
}
.menu ul li ul li span.image {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;
	z-index:20;
	display:none;
	zoom:1;
	background:url(../images/profile_img.jpg) no-repeat;
}
.menu ul li ul li a {
	padding:3px 10px;
	font-size:13px;
	display:block;
	margin:-1px 0 0 0;
	position:relative;
	zoom:1;
}
.menu ul li:hover a {
	color:#FFF;
	width: 224px;
	padding: 3px 0px;
}
.menu ul li:hover a span {
	display:block;
}

#settings1 {
	width:235px;
	position:absolute; 
	background-color: #99cc00; text-align:left;
}

.button_ss {
	
	border-bottom: 0px solid #a9c458;
	border-top-color:#d3d8e2;
	border-bottom-color:#bfc4cf;
	display:block;
	font-weight: normal;
	color:#FFFFFF;
	background: #99cc00;
	position:relative;
	cursor:pointer;
	text-align:left;
}
.button_ss span.txt {

	padding:7px 0px 7px 10px;
	
	display:block;


}
.button_ss span.ar {
	font-size: 12px;
	position: absolute;
	top: 7px;
	right: 10px;
	text-align: right;
}
.button_ss:hover {
	color:#FFFFFF;
	background: #99cc00;
	
}
.button_ss:active, .button_ss.active {
	color:#FFFFFF;
	background: #99cc00;
}
.button_ss.active {
	border-bottom:0;
}
.button_ss:hover span.txt, .button_ss:active span.txt, .button_ss.active span.txt {
	background-position:0 0;
}
.menu1 {
	position:absolute;
	top: 36px;
	left:0;
	right:0;
	background:#83aa0d;
	border-top:0;
	display:none;
	z-index:40000;
}
.menu1 ul {
	list-style:none;
	padding:3px;
}
.menu1 ul li {
	display:block;
	zoom:1;
}
.menu1 ul li a {
	padding: 3px 0px 3px 10px;
	font-size:13px;
	display:block;
	margin:-1px 0 0 0;
	position:relative;
	zoom:1;
	text-align:left;
	width: 222px;
}

.menu1 ul li a span {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;
	z-index:20;
	display:none;
	zoom:1;
}
.menu1 ul li ul {
	list-style:none;
	padding:10px 0px 0px 0px;
}
.menu1 ul li ul li {
	display:block;
	zoom:1;
	padding-left:18px;
}
.menu1 ul li ul li span.image {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;
	z-index:20;
	display:none;
	zoom:1;
	background:url(../images/profile_img.jpg) no-repeat;
}
.menu1 ul li ul li a {
	padding:3px 10px;
	font-size:13px;
	display:block;
	margin:-1px 0 0 0;
	position:relative;
	zoom:1;
}
.menu1 ul li:hover a {
	color:#FFF;
	width: 222px;
	padding: 3px 0px 3px 10px;
}

.menu1 ul li:hover a span {
	display:block;
}









#settings2 {
	width:235px;
	position:absolute;  margin-left:245px;
	background-color: #99cc00; text-align:left
}

.button_sss {
	
	border-bottom: 0px solid #a9c458;
	border-top-color:#d3d8e2;
	border-bottom-color:#bfc4cf;
	display:block;
	font-weight: normal;
	color:#FFFFFF;
	background: #00b2b2;
	position:relative;
	cursor:pointer;
	text-align:left;
}
.button_sss span.txt {

	padding:7px 0px 7px 10px;
	
	display:block;


}
.button_sss span.ar {
	font-size: 12px;
	position: absolute;
	top: 7px;
	right: 10px;
	text-align: right;
}
.button_sss:hover {
	color:#FFFFFF;
	background: #00b2b2;
	
}
.button_sss:active, .button_sss.active {
	color:#FFFFFF;
	background: #00b2b2;
}
.button_sss.active {
	border-bottom:0;
}
.button_sss:hover span.txt, .button_sss:active span.txt, .button_sss.active span.txt {
	background-position:0 0;
}

.menu2 {
	position:absolute;
	top: 36px;
	left:0;
	right:0;
	background:#00b2b2;
	border-top:0;
	display:none;
	z-index:40000;
}
.menu1 ul {
	list-style:none;
	padding:3px;
}
.menu2 ul li {
	display:block;
	zoom:1;
}
.menu2 ul li a {
	padding: 3px 2px 3px 10px;
	font-size:13px;
	display:block;
	margin:-1px 0 0 0;
	position:relative;
	zoom:1;
	text-align:left;
	width: 222px;
}
.menu2 ul li a span {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;
	z-index:20;
	display:none;
	zoom:1;
}
.menu2 ul li ul {
	list-style:none;
	padding:10px 0px 0px 0px;
}
.menu2 ul li ul li {
	display:block;
	zoom:1;
	padding-left:18px;
}
.menu2 ul li ul li span.image {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;
	z-index:20;
	display:none;
	zoom:1;
	background:url(../images/profile_img.jpg) no-repeat;
}
.menu2 ul li ul li a {
	padding:3px 10px;
	font-size:13px;
	display:block;
	margin:-1px 0 0 0;
	position:relative;
	zoom:1;
}
.menu2 ul li:hover a {
	color:#FFF;
	width: 222px;
	padding: 3px 2px 3px 10px;
}
.menu2 ul li:hover a span {
	display:block;
}




#Move_to {
	width:88px;
	position:absolute; 
	background-color: #767676; text-align:left; height:22px
}

.Move_to {
	
	border-bottom: 0px solid #a9c458;
	border-top-color:#d3d8e2;
	border-bottom-color:#bfc4cf;
	display:block;
	font-weight: normal;
	color:#FFFFFF;
	background: #767676;
	position:relative;
	cursor:pointer;
	text-align:left;
}
.Move_to span.txt {

	padding:4px 0px 4px 10px;
	
	display:block;font-family: 'myriad_web_proregular';


}
.Move_to span.ar {
	font-size: 12px;
	position: absolute;
	top: 4px;
	right: 10px;
	text-align: right;
}
.Move_to:hover {
	color:#FFFFFF;
	background: #666666;
	
}
.Move_to:active, .Move_to.active {
	color:#FFFFFF;
	background: #666666;
}
.Move_to.active {
	border-bottom:0;
}
.Move_to:hover span.txt, .Move_to:active span.txt, .Move_to.active span.txt {
	background-position:0 0;
}
.Move1 {
	position:absolute;
	top: 30px;
	left:0;
	right:0;
	background:#767676;
	border-top:0;
	display:none;
	z-index:40000;font-family: 'myriad_web_proregular';
}
.Move1 ul {
	list-style:none;
	padding:3px;font-family: 'myriad_web_proregular';
}
.Move1 ul li {
	display:block;
	zoom:1;
}
.Move1 ul li a {
	padding: 3px 0px 3px 10px;
	font-size:13px;
	display:block;
	margin:-1px 0 0 0;
	position:relative;
	zoom:1;
	text-align:left;
	width: 222px;color:#FFF;font-family: 'myriad_web_proregular';
}

.Move1 ul li a span {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;
	z-index:20;
	display:none;
	zoom:1;color:#FFF;
}
.Move1 ul li ul {
	list-style:none;
	padding:10px 0px 0px 0px;color:#FFF;
}
.Move1 ul li ul li {
	display:block;
	zoom:1;
	padding-left:18px;color:#FFF;
}
.Move1 ul li ul li span.image {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;
	z-index:20;
	display:none;
	zoom:1;
	background:url(../images/profile_img.jpg) no-repeat;color:#FFF;
}
.Move1 ul li ul li a {
	padding:3px 10px;
	font-size:13px;
	display:block;
	margin:-1px 0 0 0;
	position:relative;
	zoom:1;color:#FFF;
}
.Move1 ul li:hover a {
	color:#FFF;
	width: 222px;
	padding: 3px 0px 3px 10px;
}

.Move1 ul li:hover a span {
	display:block;
}




#Compose {
	
	position:absolute; 
	background-color: #c02c3e; text-align:left; padding:5px;font-family: 'myriad_web_proregular';
}

.Compose_M {
	
	border-bottom: 0px solid #a9c458;
	border-top-color:#d3d8e2;
	border-bottom-color:#bfc4cf;
	display:block;
	font-weight: normal;
	color:#FFFFFF;
	background: #c02c3e;
	position:relative;
	cursor:pointer;
	text-align:left; font-size:14px;
}
.Compose_M span.txt {

	
	
	display:block;


}
.Compose_M span.ar {
	font-size: 12px;
	position: absolute;
	top: 4px;
	right: 10px;
	text-align: right;
}
.Compose_M:hover {
	color:#FFFFFF;
	background: #c02c3e;
	
}
.Compose_M:active, .Compose_M.active {
	color:#FFFFFF;
	background: #c02c3e;
}
.Compose_M.active {
	border-bottom:0;
}
.Compose_M:hover span.txt, .Compose_M:active span.txt, .Compose_M.active span.txt {
	background-position:0 0;
}
.Compose1 {
	position:absolute;
	top: 30px;
	left:0;
	right:0;
	background:#c02c3e;
	border-top:0;
	display:none;
	z-index:40000;
}
.Compose1 ul {
	list-style:none;
	padding:0px;
}
.Compose1 ul li {
	display:block;
	zoom:1;
}
.Compose1 ul li a {
	padding: 3px 0px 3px 10px;
	font-size:13px;
	display:block;
	
	position:relative;
	zoom:1;
	text-align:center;
	width: 80px;color:#FFF;
}

.Compose1 ul li a span {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;
	z-index:20;
	display:none;
	zoom:1;color:#FFF;
}
.Compose1 ul li ul {
	list-style:none;
	padding:10px 0px 0px 0px;color:#FFF;
}
.Compose1 ul li ul li {
	display:block;
	zoom:1;
	padding-left:18px;color:#FFF;
}
.Compose1 ul li ul li span.image {
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	height:1px;
	display:block;	
	z-index:20;
	display:none;
	zoom:1;
	background:url(../images/profile_img.jpg) no-repeat;color:#FFF;
}
.Compose1 ul li ul li a {
	padding:3px 10px;
	font-size:13px;
	display:block;
	margin:-1px 0 0 0;
	position:relative;
	zoom:1;color:#FFF;
}
.Compose1 ul li:hover a {
	color:#FFF;
	
	padding: 3px 0px 3px 10px;
}

.Compose1 ul li:hover a span {
	display:block;color:#FFF;
}



select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}