@charset "utf-8";
/* CSS Document */

.pagination
{
	font-family:"FuturaMdBTMedium";
	font-size: 14px;
	line-height:20px;
	clear:both;
	display:block;
	text-align: center;
	color:#1d1d1d;
	padding: 20px 0px 0px 0px;
	margin: 0px;
	border: solid 0px #FF0000;
	font-weight: normal;
}
.pagination a {
	color:#1d1d1d;
	text-decoration:none;
	border: 0px solid #016f99;
	padding: 3px 8px;
	margin: 0px 5px 0px -5px;
}

.pagination a:hover, .pagination a:active {
	color:#424242;
	border: 0px solid #016f99;
}
.pagination span.selected {
	padding: 3px 5px;
	margin:0 3px 0 3px;
	border:0px solid #016f99;
	font-weight:normal;
	color:#FFFFFF;
	background-color:#000000;
}
.pagination span.disabled {
	padding:5px 6px 4px 5px;
	margin:0 3px 0 3px;
	border:1px solid #cccccc;
	color:#cccccc;
}


select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}