html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	/*make-up*/
	background: #252525;
}
#page,#content{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#page{
	width: 980px;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	/*make-up*/
	background: #ffffff;
}
#content{
	width: 97.95918367346939%;
	margin: 1.020408163265306%;
	padding: 2.040816326530612%;
	/*make-up*/
}
.demo_menu,
.demo_menu > li,
.feat,
.feat > li{
	margin: 0;
	padding: 0;
	border: 0 none;
	text-decoration: none;
	list-style-type: none;
	font-size: 100%;
	overflow: hidden;
}
.demo_menu > li{
	float: left;
	margin-right: 20px;
}
.demo_menu > li > a{
	text-decoration: none;
	color: #ACBB44;
}
.mar-right{
	margin-right: 5px;
}
.color_csc{
	color: #BCA349;
}
.color_csc2{
	color: #ACBB44;
}
.feat{
	color: #ACBB44;
}
.zl_matetabs section h1,
.zl_matetabs section h2,
.zl_matetabs section h3,
.zl_matetabs section h4,
.zl_matetabs section h5{
	color: #BCA349;
}
@media screen and (max-width: 980px) {
	#page{
		width: 100%;
	}

} /*980 close*/



select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}