/* ######### CSS for Shade Tabs. Remove if not using ######### */

.quality-experts
{
	padding: 0px;
	margin: 0px;
	width: 1005px;
	border: solid 0px #CC3399;
	font: 14px FuturaMdBTMedium;
	list-style-type: none;	
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}


.quality-experts li
{
	display: inline;
	margin: 0px;
	padding: 0px;
	width: 322px;
	background-image: url(../images/quality_experts_tab.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 8px 0px 19px 0px;
	vertical-align: middle;
	border: solid 0px #9933CC;
}

.quality-experts li a
{
	text-decoration: none;
	position: relative;
	z-index: 1;
	padding: 15px 101px 18px 102px;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	color: #666;
	width: 322px;
}

/*.quality-experts li a:visited
{
	color: #FFF;
}*/

.quality-experts li a:hover
{
	text-decoration: none;
	color: #FFFFFF;
	background-image: url(../images/quality_experts_selecttab.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 15px 101px 18px 102px;
}

.quality-experts li a.selected
{ /*selected main tab style */
	position: relative;
	top: 0px;
	color: #FFFFFF;
	background-image: url(../images/quality_experts_selecttab.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 15px 101px 18px 102px;
	text-decoration: none;
}

/*.quality-experts li a.selected
{ selected main tab style 
	background-image: url(../images/shadeactive.png);
	border-bottom-color: solid 0px white;
}*/

.quality-experts li a.selected:hover
{ /*selected main tab style */
	text-decoration: none;
}

.qetabcontent1
{
	display:none;
	float: left;
	width: 100%;
	font: 14px FuturaMdBTMedium;
	color: #666;
}

@media print
{
.qetabcontent1
{
	display:block !important;
}
}

select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}