#dd_nav {
	list-style:none;
	border:solid 1px red;
	float:right;
	width:247px;
	position:absolute;
	z-index:1;
	margin-top:0px;
	margin-left: 0px;
	line-height:20px;
}
#dd_nav li {
	float:left;
	margin-right:10px;
	position:relative;
}
#dd_nav a {
	display:block;
	padding: 0px 0px 0px 12px;
	color:#fff;
	text-decoration:none;
}
#dd_nav a:hover {
	color:#fff;
}
#dd_nav ul {
	list-style:none;
	position:absolute;
	left:-9999px;
}
#dd_nav ul li {
	padding-top:1px;
	float:none;
	padding-left:5px;
}
#dd_nav ul a {
	white-space:nowrap;
}
#dd_nav li:hover ul {
	left:0;
}
#dd_nav li:hover a {
	text-decoration:none;
}
#dd_nav li:hover ul a {
	text-decoration:none;
}
#dd_nav li:hover ul li a:hover {
	background:#0;
}
#dd_nav1 {
	list-style:none;
	font-weight:normal;
	border:solid 0px red;
	float:right;
	width:90px;
	position:absolute;
	z-index:1;
	margin-top:0px;
}
#dd_nav1 li {
	float:left;
	position:relative;
}
#dd_nav1 a {
	display:block;
	padding: 0px 0px 0px 12px;
	color:#fff;
	background-color:#666666;
	text-decoration:none;
}
#dd_nav1 a:hover {
	color:#fff;
}
#dd_nav1 ul {
	list-style:none;
	position:absolute;
	left:-9999px;
}
#dd_nav1 ul li {
	padding-top:1px;
	float:none;
	padding-left:5px;
}
#dd_nav1 ul a {
	white-space:nowrap;
}
#dd_nav1 li:hover ul {
	left:0;
}
#dd_nav1 li:hover a {
	text-decoration:none;
}
#dd_nav1 li:hover ul a {
	text-decoration:none;
}
#dd_nav1 li:hover ul li a:hover {
}
#dd_nav2 {
	list-style:none;
	font-weight:normal;
	border:solid 0px red;
	float:right;
	width:100px;
	position:absolute;
	z-index:1;
}
#dd_nav2 li {
	float:left;
	position:relative;
}
#dd_nav2 a {
	display:block;
	padding: 6px 5px;
	color:#fff;
	text-decoration:none;
}
#dd_nav2 a:hover {
	color:#fff;
}
#dd_nav2 ul {
	list-style:none;
	position:absolute;
	left:-9999px;
}
#dd_nav2 ul li {
	float:none;
}
#dd_nav2 ul a {
	white-space:nowrap;
}
#dd_nav2 li:hover ul {
	left:0;
}
#dd_nav2 li:hover a {
	text-decoration:none;
}
#dd_nav2 li:hover ul a {
	text-decoration:none;
}
#dd_nav2 li:hover ul li a:hover {
}



select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}