
.glossy-square-gray .slide-wrapper {
	width: 970px;
height: 275px;

	-moz-box-shadow: 0 0 3px 3px #cdcdcd;
-webkit-box-shadow: 0 0 3px 3px #cdcdcd;
box-shadow: 0 0 3px 3px #cdcdcd;
}


.glossy-square-gray .slide {
	
}

/* END OF MAIN SLIDE */


/* SLIDE ARROWS */

.glossy-square-gray .slide-arrows a {
	background: url(../gallery/images/arrows.png) no-repeat;
	width: 64px;
	height: 64px;
	top: 45%;
	margin-top: -30px;opacity:1;
}


.glossy-square-gray .slide-arrows a.previous {
	left: -30px;opacity:1;
}


.glossy-square-gray .slide-arrows a.next {
	right: -30px;
	background-position: -64px 0;opacity:1;
}

/* SLIDE ARROWS */


/* SLIDESHOW CONTROLS */

.glossy-square-gray .slideshow-controls {
	background: url(../gallery/images/playpause.png) no-repeat;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
}


.glossy-square-gray .slideshow-controls.pause {
	background-position: 0 0;
}


.glossy-square-gray .slideshow-controls.play {
	background-position: -64px 0;
}

/* END OF SLIDESHOW CONTROLS */


/* TIMER ANIMATION */

.glossy-square-gray .timer-animation {
	top: 20px;
	right: 20px;
}

/* END OF TIMER ANIMATION */


/* SLIDE CAPTION */

.glossy-square-gray .caption-container .background {
	background-color: #000;
	width: 100%;
	height: 100%;
}


.glossy-square-gray .caption-container .caption {
	color: #FFF;
	margin: 0;
	padding: 8px;
	font-size: 16px;
	line-height: 18px;
}

/* END OF SLIDE CAPTION */


/* SLIDE BUTTONS/BULLETS */

/* main container of the navigation buttons */
.glossy-square-gray .slide-buttons {
	margin-top: 40px;
}


.glossy-square-gray .slide-buttons .left, 
.glossy-square-gray .slide-buttons .right {
}


.glossy-square-gray .slide-buttons .left {
}


.glossy-square-gray .slide-buttons .middle {
}


.glossy-square-gray .slide-buttons .right {
}


/* this contains the buttons */
.glossy-square-gray .slide-buttons .buttons-inner {
}


/* this contains the buttons */
.glossy-square-gray .slide-buttons .buttons-inner a {
	background: url(../gallery/images/buttons.png) no-repeat;
	background-position: 0 0;
	width: 14px;
	height: 15px;
	margin: 0 2px;
}


.glossy-square-gray .slide-buttons .buttons-inner a.over {
	background-position: -14px 0; 
}


.glossy-square-gray .slide-buttons .buttons-inner a.select {
	background-position: -28px 0; 
}


/* this is used to style the numbers from within the buttons, when they are used */
.glossy-square-gray .slide-buttons .buttons-inner a .number {
	margin-top: 2px;
	font-size: 8px;
	line-height: 10px;
	font-weight: bold;
	color: #FFF;
}


.glossy-square-gray .slide-buttons .buttons-inner a.over .number {
	color: #FFF;
}


.glossy-square-gray .slide-buttons .buttons-inner a.select .number {
	color: #FFF;
}


/* 
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/
.glossy-square-gray .slide-buttons .buttons-inner .thumbnail-wrapper {
	margin-top: 30px;
}


.glossy-square-gray .thumbnail {
	-moz-box-shadow: inset 0 0 5px 5px #ededed;
-webkit-box-shadow: inset 0 0 5px 5px #ededed;
box-shadow: inset 0 0 5px 5px #ededed;
/*border: solid 1px #7ba400;*/
border: solid 1px #FFF;
	
}


.glossy-square-gray .thumbnail-scroller.horizontal {
margin-top: 8px;
	left: 0;
	padding: 0 10px;

}


.glossy-square-gray .thumbnail-scroller.horizontal.overlay {
	}


.glossy-square-gray .thumbnail-scroller.vertical {
	
}


.glossy-square-gray .thumbnail-scroller.vertical.overlay {
	
}


.glossy-square-gray .thumbnail-scroller .thumbnail-wrapper {
padding-right:15px;

}


.glossy-square-gray .thumbnail-scroller .thumbnail.over {
	border: solid 1px #009999;
	
}


.glossy-square-gray .thumbnail-scroller .thumbnail.select {
	border: solid 1px #009999;
	
	
}


/* THUMBNAIL CAPTION */

.glossy-square-gray .thumbnail .caption .background {
	background-color: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
}


.glossy-square-gray .thumbnail .caption .content {
	color: #FFF;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding: 2px 0;
	margin: 0;
}

/* END OF THUMBNAIL CAPTION */


/* THUMBNAIL SCROLLER ARROWS */

.glossy-square-gray .thumbnail-scroller .arrows a {
	background: url(../gallery/images/arrows_small.png) no-repeat;
	width: 9px;
	height: 61px;
}

.glossy-square-gray .thumbnail-scroller .arrows a:hover {
	background: url(../gallery/images/arrows_small_h.png) no-repeat;
	width: 9px;
	height: 61px;
}

.glossy-square-gray .thumbnail-scroller.vertical .arrows a {
	background: url(../gallery/images/images/arrows_v_small.png) no-repeat;
	width: 30px;
	height: 22px;
}


.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.previous {
	left: -10px;opacity:1;
}


.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.next {
	right: -10px;
	background-position: -10px 0;opacity:1;
}


.glossy-square-gray .thumbnail-scroller.vertical .arrows a.previous {
	top: 0;opacity:1;
}


.glossy-square-gray .thumbnail-scroller.vertical .arrows a.next {
	bottom: 0;
	background-position: 0 -22px;
}

/* END OF THUMBNAIL SCROLLER ARROWS */


/* THUMBNAIL SCROLLER BUTTONS */

.glossy-square-gray .thumbnail-scroller .buttons a {
	background: url(../gallery/images/images/buttons_small.png) no-repeat;
	background-position: 0 0; 
	width: 11px;
	height: 12px;
	margin: 2px;
}


.glossy-square-gray .thumbnail-scroller .buttons a.over {
	background-position: -11px 0; 
}


.glossy-square-gray .thumbnail-scroller .buttons a.select {
	background-position: -22px 0; 
}

/* END OF THUMBNAIL SCROLLER BUTTONS */


/* THUMBNAIL SCROLLER SCROLLBAR */

.glossy-square-gray .thumbnail-scroller.horizontal .scrollbar {
	margin-top: 30px;
}


.glossy-square-gray .thumbnail-scroller.vertical .scrollbar {
	margin-left: 30px;
}
p.details {
display: block;
width: 580px;
line-height: 20px;
/*margin: 50px 0px 0 0px;*/
margin: 20px 0px 20px 0px;
float: left; border:solid 0px red;
}
p.img {
display: block;
width: 216px;
height: 197px;
margin: 50px 30px 0 50px;
float: left;border:solid 0px red;
}