
.shadetabs em {padding-top:50px; font-style:normal; display:inline-block; font-size:14px;}	
.shadetabs .selected a em {text-decoration:none;}

.shadetabs .tab-img1 {
	background:url(../images/calorie_setup/tab-img3.png) 0px -86px no-repeat;
	height:81px;
	width:87px;
	display:inline-block;
	
}
.shadetabs .selected .tab-img1 {
	background:url(../images/calorie_setup/tab-img3.png) 0px -5px no-repeat;
}
.shadetabs a:hover .tab-img1 {
	background:url(../images/calorie_setup/tab-img3.png) 0px -86px no-repeat;
}

.shadetabs .tab-img2 {
	background:url(../images/calorie_setup/tab-img1.png) 0 -86px no-repeat;
	height:81px;
	width:87px;
	display:inline-block;
	
}
.shadetabs .selected .tab-img2 {
	background:url(../images/calorie_setup/tab-img1.png) 0 -0px no-repeat;
}
.shadetabs a:hover .tab-img2 {
	background:url(../images/calorie_setup/tab-img1.png) 0 -86px no-repeat;
}
.shadetabs .tab-img3 {
	background:url(../images/calorie_setup/tab-img2.png) 0 -82px no-repeat;
	height:81px;
	width:87px;
	display:inline-block;

}
.shadetabs .selected .tab-img3 {
	background:url(../images/calorie_setup/tab-img2.png) 0 -1px no-repeat;
}
.shadetabs a:hover .tab-img3 {
	background:url(../images/calorie_setup/tab-img2.png) 0 -82px no-repeat;
}


.shadetabs {
	padding: 0px 0px 10px 0px;
	margin: 0px;
	border: solid 0px #CC3399;
	width: 634px;
	color:#000000;
	list-style-type: none;
	background-image: url(../images/tab_header.png);
	background-repeat: no-repeat;
	text-align: left;
	font-family:"myriad_web_proregular";
	font-size:13px;
}
.TabContentDetails {
	border: 0px solid gray;
	width: 698px;
	float: left;
	margin-bottom: 1em;
	background-color: #fff;
	color: #FFFFFF;
	height:auto
}
.shadetabs li {
	display: inline;
	margin: 0px;
	padding: 0px 0px;
	border-right: solid 1px #c5c5c5;
	background-repeat:no-repeat;
	background-position:right; width:200px; float:left; text-align:center
}
.shadetabs li:hover {
	display: inline;
	margin: 0px;
	padding: 0px 0px;
	border-right: solid 1px #c5c5c5;

	background-repeat:no-repeat;
	background-position:right;
}
.shadetabs li:last-child {
	display: inline;
	margin: 0px;
	padding: 0px 0px;
	border-right: solid 0px #c5c5c5;

	background-repeat:no-repeat;
	background-position:right;
}
.shadetabs li.selected {
	display: inline;
	margin: 0px;
	padding: 8px 0px;
	border-right: solid 1px #c5c5c5;
	text-align:center;
	background-repeat:no-repeat;
	background-position:right;
}

.shadetabs li a {
	text-decoration: none;
text-align:center;
	z-index: 1;

	border: 0px solid #778;
	color: #000;
	margin:0px 0px 0px 0px;
}
.shadetabs li a:visited {
	color: #000;text-align:center;
}
.shadetabs li a:hover {
	text-decoration: none;
	
   color:#99cc01;text-align:center;
}
.shadetabs li a.selected {
	position: relative;
	top: 0px;
	
}
.shadetabs li a.selected:hover {
	text-decoration: none;
}
.tabcontent {
	display:none;
	float: left;
	width: 100%;
	color:#000000
}
.calorie_tab {
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 500px;
	border:solid 0px red;
	list-style-type: none;
	font-size:14px;
	text-align: left;
	font-family:"myriad_web_proregular";
}
.calorie_tab li {
	display: inline;
	width: 112px;
	margin:0px;
	padding:0px;
	float:left;
	text-align:center;
	text-transform:uppercase;
}
.calorie_tab li a {
	position: relative;
	top: 0px;
	color: #666666;
	text-decoration: none;
	width: 112px;
	margin-top:5px 0px px 0px;
	padding: 5px 0px 10px 0px;
	float:left;
	text-align:center;
	background-image: url(../images/calorie_setup/tab_down_green_arrow.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
/*.calorie_tab li a:visited
{
	color: #FFF;
}*/

.calorie_tab li a:hover {
	text-decoration: none;
	color: #fff;
	background-image: url(../images/calorie_setup/tab_down_green_arrow_h.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-top:5px 0px px 0px;
	padding: 5px 0px 10px 0px;
	width: 112px;
	float:left;
	text-align:center
}
.calorie_tab li a.selected { /*selected main tab style */
	position: relative;
	top: 0px;
	color: #fff;
	background-image: url(../images/calorie_setup/tab_down_green_arrow_h.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-decoration: none;
	width: 112px;
	margin-top:5px 0px px 0px;
	padding: 5px 0px 10px 0px;
	float:left;
	text-align:center;
	font-weight:bold
}
/*.calorie_tab li a.selected
{ selected main tab style 
	background-image: url(../images/shadeactive.png);
	border-bottom-color: solid 0px white;
}*/

.calorie_tab li a.selected:hover { /*selected main tab style */
	text-decoration: none;
}
.calorie_tabcontent {
	display:none;
	float: left;
	width: 698px;
}
 @media print {
.hw-workstabcontent1 {
	display:block !important;
}
}






select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}