/* ######### CSS for Shade Tabs. Remove if not using ######### */

.hw-works
{
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 997px;
	 border:solid 0px red; height:50px;
	font: 14px FuturaMdBTMedium;
	list-style-type: none;	
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.hw-works li:first-child
{
	display: inline;
	margin-left: 0px;
	width: 321px;

	background-image: url(../images/quality_experts_tab.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	float:left; text-align:center
}
.hw-works li
{
	display: inline;
	margin-left: 17px;
	width: 321px;

	background-image: url(../images/how_it_works_tab.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	float:left; text-align:center
}

.hw-works li a
{

	position: relative;
	top: 0px;
	color: #000;
	background-image: url(../images/how_it_works_tab.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-decoration: none;
	width: 321px;
	padding: 18px 0px;float:left; text-align:center
}

/*.hw-works li a:visited
{
	color: #FFF;
}*/

.hw-works li a:hover
{
	text-decoration: none;
	color: #FFFFFF;
	background-image: url(../images/how_it_works_selecttab.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 18px 0px;
	width: 321px;float:left; text-align:center
}

.hw-works li a.selected
{ /*selected main tab style */
	position: relative;
	top: 0px;
	color: #FFFFFF;
	background-image: url(../images/how_it_works_selecttab.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-decoration: none;
	
	width: 321px;
	padding: 18px 0px;float:left; text-align:center
}

/*.hw-works li a.selected
{ selected main tab style 
	background-image: url(../images/shadeactive.png);
	border-bottom-color: solid 0px white;
}*/

.hw-works li a.selected:hover
{ /*selected main tab style */
	text-decoration: none;
}

.hw-workstabcontent1
{
	display:none;
	float: left;
	width: 990px;
}

@media print
{
.hw-workstabcontent1
{
	display:block !important;
}
}
select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}