@charset "utf-8";
/* CSS Document */

.green {
	background:#99cc00
}
.blue {
	background:#009999
}
.gray_bg {
	background:#f0f0f0
}
/*.f_red {
	color:#c02c3e
}*/

.f_red {
	color:#009999
}
.f_black {
	color:#666666
}
.f_white {
	color:#fff
}
.f_green {
	color:#7ba400;
}
.f_blue {
	color:#009999
}

.f_darkblack
{
	color: #000000;
}

.f_dgreen
{
	color: #99cc00;
}

.f_yellow
{
	color: #a49305;
}

.f_grey {
	color:#656565;
}

.colour_g {
	background:#f0f0f0
}
.wd1000 {
	width:1000px;
}
.f_l {
	float:left
}
.f_r {
	float:right
}
.m_l {
	margin-left:6px
}
.cir51 {
border-radius50%
}
.cb {
	clear:both
}
.m_b {
	/*margin-bottom:20px*/
}
.m_t {
	margin-top:20px
}
.tx_cent {
	text-align:center
}
.tx_left {
	text-align:left
}
.tx_right {
	text-align:right
}
.m_outo {
	margin:0 auto
}
.bold {
	font-weight:bold
}
.shadow_in {
	display:block;
	position:relative;
}
.d_block {
	display:block
}
.p_b {
	padding-bottom:10px
}
.border_b {
	border-bottom:1px solid #b2b2b2
}
 .shadow_in::before {
-moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 5);
-webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 5);
 box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
 display:block;
 content:'';
 position:absolute;
 width:100%;
 height:100%;
}
.bor_2colour {
	width:100%;
	overflow:hidden;
	height:3px;
	background:url('../images/try_colour_line_flip.gif') center repeat-y;
	min-width:977px;
}
.head {
	width:1000px;
	height:122px;
	margin:0 auto
}
.head .brand {
	width:330px;
	margin:10px 0;
	float:left;
	width:316px;
	height:91px;
	background:url('../images/brand.png') no-repeat
}
.head .brand a {
	display:block;
	height:91px;
	text-indent:-9999px
}
.head .n_o {
	width:680px;
	height:122px;
	float:left; 
}
.head .n_o .l_o {
	height:25px;
	/*Bhupali Edit*//*padding-right:25px*//*Bhupali Edit*/
}
.head .n_o .l_o .sign, .head .n_o .l_o .follow_smal {
	height:25px;
	float:right;
	color:#FFF;
	text-align:center;
}
.head .n_o .l_o .profile {
	width:238px;border:solid 0px red; float:right;/*padding:2px 5px */ padding:0px;
}
.head .n_o .l_o .profile a {
	display: inline-block;
	padding:0 13px;
	font-size:13px;
	text-transform:none;
	text-decoration:none;
	color:#FFF;
	font-family:"FuturaMdBTMedium";
	line-height:20px
}
.head .n_o .l_o .profile a:hover {
	color:#000
}

.head .n_o .l_o .sign {
	width:170px
}
.head .n_o .l_o .sign a {
	display: inline-block;
	padding:0 13px;
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;
	color:#FFF;
	font-family:"FuturaMdBTMedium";
	line-height:20px
}
.head .n_o .l_o .sign a:hover {
	color:#000
}
/* Bhupali Edit */
.head .n_o .l_o .follow_smal {
	width: 108px;
float: left;
padding-left: 319px;
border: solid 0px #888;
}
/* Bhupali Edit */
.head .n_o .l_o .follow_smal span {
	display:block;
	float:left;
	width:17px;
	height:17px;
	margin:4px 5px;
	background:url('../images/followUs_icons.png') no-repeat
}
.head .n_o .l_o .follow_smal span.f {
	background-position:3px 0
}
.head .n_o .l_o .follow_smal span.t {
	background-position:-20px 0
}
.head .n_o .l_o .follow_smal span.p {
	background-position:-47px 0
}
.head .n_o .l_o .follow_smal span.i {
	background-position:-72px 0
}
.head .n_o .l_o .follow_smal span.f:hover {
	background-position:3px -21px
}
.head .n_o .l_o .follow_smal span.t:hover {
	background-position:-20px -21px
}
.head .n_o .l_o .follow_smal span.p:hover {
	background-position:-47px -21px
}
.head .n_o .l_o .follow_smal span.i:hover {
	background-position:-72px -21px
}
/*top navigation*/
.nav {
	height:31px;
	margin-top:30px
}
.nav ul {
	float:right
}
.nav ul li {
	float:left;
	margin:0 8px;
	position:relative;
}
.nav ul li:last-child {
	margin-right:0
}
.nav ul li a {
	border:2px solid #fff;
	display:block;
	padding:4px 6px;
	color:#666;
	text-decoration:none;
	font-size:12px;
	text-transform:uppercase;
	font-family:"FuturaMdBTMedium";
}
.nav ul li a:hover {
	border:2px solid #6C0;
	color:#009999
}
.nav ul li a.selected {
	border:2px solid #6C0;
	color:#009999;
}
.nav ul li span {
	display:none
}
.nav ul li:hover span {
	display:block;
	width:11px;
	height:7px;
	bottom:-5px;
	left:-6px;
	margin-left:50%;
	position:absolute;
	background:url('../images/menu_arrow.png') no-repeat;
}
.nav ul li span.selected {
	display:block;
	width:11px;
	height:7px;
	bottom:-5px;
	left:-6px;
	margin-left:50%;
	position:absolute;
	background:url('../images/menu_arrow.png') no-repeat;
}

.banner_o {
	width:100%;
	height:auto;
	background:#ccc url('../images/banner_bg.png') repeat-x;
}
.banner_o .banner {
	width:1000px;
	margin:0 auto
}
/*attached sprite*/	
.lt p span, .rt p span, .h_w_icon a span, .r_p span, .h_w span, .help_no ul li span {
	background:url('../images/sprite.png') no-repeat;
}
.r_1 {
	margin:0 auto;
	overflow:hidden
}
.cloud {
background-image: url(../images/cloud.png);
background-position: center bottom;
background-repeat: no-repeat;
width: 771px;
height: 194px;
float: left;
position: absolute;
margin-top: 243px;
margin-left: 116px;
}
.r_1 .lt, .r_1 .rt {
	width:460px;
	padding:20px;
	float:left;
	position:relative
}
.r_1 .lt i, .r_1 .rt i {
	display:block;
	width:13px;
	height:16px;
	position:absolute;
	top:0;
	text-indent:-9999px;
	background:url(../images/arrow_01.png) no-repeat top
}
.arrow{display:block;
	
	background:url(../images/arrow_01.png) no-repeat 5% 0%}
.lt h2, .rt h2 {
	margin:0;
	font-size:24px;
	text-transform:uppercase;
}
.lt p, .rt p, .lt .r_p span, .rt .h_w span {
	display:block;
	overflow:hidden;
	margin-top:25px
}
.lt p a, .rt p a, .lt .r_p a, .rt .h_w a {
	clear:both;
	text-transform:uppercase;
	color:#333;
	text-decoration:none;
}
.lt p a:hover, .rt p a:hover, .lt r_p a:hover, .rt .h_w a:hover {
	color:#090 !important;
}
.lt p span, .rt p span, .lt .r_p span, .rt .h_w span {
	display:block;
	width:108px;
	height:94px;
	margin:0 40px 0 0;
	float:left
}
.lt p span {
	background-position:0 -336px;
}
.rt p span {
	background-position:0 -463px
}
.r_2_wrapper {
	width:100%;
	min-width:977px;
	color:#FFF;
	background-color: #ececec;
	/*background:url('../images/try_colour_line.gif') repeat-y center;*/
}
.h_w_icon {
	margin-top:15px;
	overflow:hidden
}
.h_w_icon a {
	display:block;
	width:230px;
	height:54px;
	float:left;
	margin-top:0 !important;
	margin-left:0 !important;
	color:#666666 !important;
	text-decoration:none;
	line-height:60px
}
.h_w_icon a span {
	display:block;
	width:54px;
	height:54px;
	margin-right:10px !important;
}
.h_w_icon a .h_record {
	background-position:-205px 0 !important;
}
.h_w_icon a .Calorie {
	background-position:-205px -59px!important;
}
.h_w_icon a .Nutri {
	background-position:-205px -117px!important;
}
.h_w_icon a .Chat {
	background-position:-205px -174px!important;
}
.h_w_icon a .doctor {
	background-position:-205px -234px!important;
}
.h_w_icon a .Track_h {
	background-position:-205px -292px!important;
}
.h_w_icon a:hover {
	text-decoration:underline;
}
.h_w_icon a:hover .h_record {
	background-position:-265px 0 !important;
}
.h_w_icon a:hover .Calorie {
	background-position:-265px -59px!important;
}
.h_w_icon a:hover .Nutri {
	background-position:-265px -117px!important;
}
.h_w_icon a:hover .Chat {
	background-position:-265px -174px!important;
}
.h_w_icon a:hover .doctor {
	background-position:-265px -234px!important;
}
.h_w_icon a:hover .Track_h {
	background-position:-265px -292px!important;
}
.h_w_icon a .Tracker {
	background-position:-324px 0 !important;
}
.h_w_icon a .Planner {
	background-position:-324px -59px!important;
}
.h_w_icon a .goal_pl {
	background-position:-324px -117px!important;
}
.h_w_icon a .goal_track {
	background-position:-324px -174px!important;
}
.h_w_icon a .savings {
	background-position:-324px -234px!important;
}
.h_w_icon a .inv_ro {
	background-position:-324px -292px!important;
}
.h_w_icon a:hover .Tracker {
	background-position:-384px 0 !important;
}
.h_w_icon a:hover .Planner {
	background-position:-384px -59px!important;
}
.h_w_icon a:hover .goal_pl {
	background-position:-384px -117px!important;
}
.h_w_icon a:hover .goal_track {
	background-position:-384px -174px!important;
}
.h_w_icon a:hover .savings {
	background-position:-384px -234px!important;
}
.h_w_icon a:hover .inv_ro {
	background-position:-384px -292px!important;
}
/* top stories*/
.top_stories {
	width:100%;
	margin-top:20px
}
.top_stories li {
	display:block;
	overflow:hidden
}
.top_stories li p {
	display:block;
	width:60%;
	margin-top:0;
	overflow:hidden;
	float:left
}
img{ text-decoration:none; border:solid 0px red;}
.top_stories li img {
	margin:0 25px 20px 0;
	width:145px;
	height:auto;
	float:left
}
h3.t_h {
	font-size:16px !important;
	color:#009999 !important;
	font-family:"myriad_web_proregular";
	width:60%;
	margin-bottom:5px;
	float:left
}
.deals {
	width:100%;
	margin-top:20px;
}
.deals p {
	margin-top:5px;
	text-align:center
}
.deals ul li span {
	display:block;
	position:absolute;
	top:0px;
	left:0;
	width:145px;
	height:109px;
	background: url(../images/arrow_g_b.png) no-repeat 116px 79px
}
.deals ul li span:hover {
	background-position:-48px 79px;
}
.deals ul li a {
	text-decoration:none;
	color:#009999;
}
.deals ul li a:hover {
	color:#9C0;
}
.r_p {
	margin-top:20px;
	overflow:hidden
}
.r_p p {
	margin-top:0;
}
.r_p span {
	background-position:0 -722px;
width:
}
.h_w {
	margin-top:20px;
	overflow:hidden;
}
.h_w p {
	margin-top:0
}
.h_w span {
	background-position:0 -593px;
}
/* footer */

.f_nav {
	/*width:330px;*/
	width: 775px;
	margin-right:25px;
	border: solid 0px #0099FF;
}
.f_nav ul li {
	/*width:140px;*/
	width: 193px;
	line-height:30px;
	border-bottom:1px solid #e1dede;
	float:left;
	list-style: none;
}
.f_nav ul li a {
	color:#666666;
	text-decoration:none;
}
.f_nav ul li a:hover {
	color:#99cc00;
}
.help_no, .f_follow ul {
	width: 195px;
	border: solid 0px #0033CC;
}
.help_no h3, .f_follow h3 {
	font-size:24px;
	font-family:"myriad_web_proregular"
}
.help_no ul {
	margin-top:10px
}
.help_no ul li {
	line-height:24px;
	display:block;
	margin-bottom:5px;
	font-size:15px;
	color:#666666;
}
.help_no ul li a {
	color:#666666;
	text-decoration:none;
	font-size:13px;
}
.help_no ul li a:hover {
	color:#99cc00;
}
.help_no ul li span {
	float:left;
	margin-right:5px;
}
.help_no ul li span.phone {
	display:block;
	width:24px;
	height:24px;
	background-position:-476px 0;
}
.help_no ul li span.email {
	display:block;
	width:24px;
	height:24px;
	background-position:-476px -30px
}
.help_no ul li span.chat {
	display:block;
	width:24px;
	height:24px;
	background-position:-476px -60px
}
.f_follow {
	width: 195px;
	border: solid 0px #006633;
}
.f_follow a {
	display:block;
	width:38px;
	height:38px;
	margin: 7px 1px 0 0;
	float:left;
	text-indent:-9999px;
	background:url('../images/followUs_icons.png') no-repeat
}
.f_follow a.faceBook {
	background-position:0 -69px
}
.f_follow a.tweet {
	background-position:-48px -69px
}
.f_follow a.google {
	background-position:-94px -69px
}
.f_follow a.blog {
	background-position:-141px -69px
}
.f_follow a.you {
	background-position:-188px -69px
}
.f_follow a.faceBook:hover {
	background-position:0 -110px
}
.f_follow a.tweet:hover {
	background-position:-48px -110px
}
.f_follow a.google:hover {
	background-position:-94px -110px
}
.f_follow a.blog:hover {
	background-position:-141px -110px
}
.f_follow a.you:hover {
	background-position:-188px -110px
}
.ft_border {
	height:20px;
	border-bottom:1px solid #cecece
}
.copy_r {
	width:100%;
	overflow:hidden;
	margin:10px 0;
}
.copy_r .copy {
	width:510px;
	float:left;
	/*margin-top:25px;*/
	margin-top:13px;
}
.copy_r .secure {
	width:466px;
	height:40px;
	float:left;
	border: solid 0px #999900;
}
.copy_r .secure span {
	display:block;
	/*margin-left:360px;*/
	margin-left: 343px;
	float:left;
	/*background: url(../images/securess_img.png) no-repeat*/
	border: solid 0px #0033FF;
}
.copy_r .secure span.design {
	width:90px;
	height:22px;
	margin-top:22px;
	background-position:0 -22px
}
.copy_r .secure span.verisign {
	width:106px;
	height:53px;
	background-position:-112px 0
}
.copy_r .secure span.mca {
	width:86px;
	height:53px;
	background-position:-231px 0
}
.copy_r .secure span.trust {
	width:125px;
	height:53px;
	background-position:-332px 0
}
.copy_r .secure span.design a {
	display:block;
	height:22px
}
/*------------ about us ------------*/
.top_ou {
	background:url('../images/bg_in.png') repeat-x
}
.top_in {
	width:1000px;
	margin:0 auto;
	border: solid 0px #FF0000;
}
.top_in .b_crumb {
	line-height:30px;
	margin:0px 20px;
	padding:10px 0;
	text-align:right;
}
.top_in .b_crumb a {
	text-decoration:none;
}
.top_in h1 {
	font-size:30px;
	margin-bottom:20px;
	text-align:center
}
.top_in h2 {
	font-size:24px;
	text-transform:none
}
.cal_full_size {
	width:100%;
}
.cal_12 {
	width:1000px;
	overflow:hidden;
	border: solid 0px #0099FF;
}
.row_01 {
	overflow:hidden;
	padding:0 0 50px 0
}
.cal_6_12 {
	width:49.5%;
}
.cal_12 h2.in {
	margin:30px 0
}
.img_con_about {
	width:408px;
	height:158px;
	position:relative
}
.img_con_about i {
	display:block;
	width:18px;
	height:9px;
	position:absolute;
	bottom:-8px;
	left:20px;
	text-indent:-9999px;
	background:url(../images/arrow_03.png) no-repeat
}

.text_con_about {
	width:408px;
	margin-top:20px;
	font-size:14px
}
.shadow_in img {
	display:block
}
/*------------ Health Wealth ------------*/
.top_banner_health {
	width:890px;
	height:290px;
	padding:40px 40px 40px 40px;
	margin:10px 15px;
	background:url(../images/health_wealth_bg.png) no-repeat
}
.top_banner_health1 {
	width:890px;
	height:350px;
	padding:0px 40px 0px 40px;
	margin:0px 15px;

}

.top_banner_health ul li p.img {
	display:block;
	width:380px;
	height:260px;
	margin:0 0px 0 90px;
	float:left;
	border: solid 0px #3366FF;
}
.top_banner_health ul li p.details {
	display:block;
	width:370px;
	line-height:23px;
	margin-top:5px;
	float:left;
	text-align: justify;
	font-size: 14px;
	border: solid 0px #CC00CC;
}
.top_banner_health ul li h3 {
	width:370px;
	font-size:24px;
	margin-top:50px;
	font-family:"myriad_web_proregular" !important;
	float:left;
	border: solid 0px #6600CC;
}
.hed {
	margin:40px 0 10px 0
}
.free_hed {
	height:30px;
	background:url(../images/h_w_line.png) no-repeat bottom;
	padding-bottom:5px;
	position:relative
}
.free_hed h4 {
	font-size:16px !important;
	text-transform:uppercase;
}
.free_hed a {
	width:80px;
	height:30px;
	font-size:18px;
	color:#FFF;
	text-align:center;
	line-height:35px;
	text-decoration:none;
	display:block;
	background:#009999;
	position:absolute;
	right:0;
	top:0
}
.free_hed a:hover {
	background:#99cc00;
	color: #FFF;
}
.heal_icon1, .heal_icon2, .heal_icon3, .heal_icon4, .heal_icon5, .heal_icon6 {
	width:155px;
	height:160px;
	margin-top:20px;
	float:left
}
.heal_icon1, .heal_icon2, .heal_icon3, .heal_icon4, .heal_icon5, .heal_icon6 {
	background:url(../images/health_wealth_icon.png) no-repeat
}
.heal_det {
	width:305px;
	height:160px;
	margin-top:20px;
	float:left;
	border: solid 1px #0033CC;
}

.heal_det1 {
	width:843px;
	height:160px;
	margin-top:20px;
	float:left;
	border: solid 0px #0033CC;
}

.heal_icon1 {
	background-position:20px 10px
}
.heal_icon2 {
	background-position:-110px 10px
}
.heal_icon3 {
	background-position:20px -140px
}
.heal_icon4 {
	background-position:-110px -140px
}
.heal_icon5 {
	background-position:20px -320px
}
.heal_icon6 {
	background-position:-110px -320px
}
.t_icon {
	width:105px;
	height:95px;
	margin:20px 100px 20px 0;
	float:left
}
.t_icon {
	width:105px;
	height:95px;
	margin:20px 100px 20px 0;
	float:left
}
.t18 {
	font-size:18px
}
.a_plus_box {
	width:460px
}
h4.alive_plus {
	font-size:24px;
	/*color:#c02c3e;*/
	color: #7ba400;
	text-align:center
}
.story_nav {
border:solid 0px red;
float:right; width:570px;
padding-top:20px;padding-bottom:30px;
}
/*------------ top stories ------------

.story_nav ul {
}
.story_nav ul li {
	display:inline-block;
	position:relative;
	margin-right:20px;
	float:left;
}
.story_nav ul li a {
	display:inline-block;
	padding:8px 10px;
	color:#FFF;
}
.story_nav ul li span {
	width:14px;
	height:9px;
	display:inline-block;
	margin:0 8px;
	background:url(../images/story_nav_arrow.png) no-repeat
}
.story_nav ul li.green {
	background:#99cc00
}
.story_nav ul li.blue {
	background:#009999
}
.story_nav ul li.yellow {
	background:#d9c627
}*/  

/*.story_nav ul li {
	display:inline-block;
	position:relative;
	margin-right:20px;
	float:left;
}*/


.story_box {
	width:100%;
	margin-bottom:20px;
	overflow:hidden
}
.story_box ul li {
	width:210px;
	height:207px; /*margin:5px 28px 30px 5px;*/
	margin:5px 20px 40px 20px;
	float:left;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.story_box ul li .th_im {
	width:193px;
	height:105px;
	margin:9px;
	position:relative
}
.story_box ul li .th_im .heder {
	padding:5px;
	color:#FFF;
	width:95%;
	position:absolute
}
.story_box ul li .th_im .green {
	background:#99cc00;
}
.story_box ul li .th_im .blue {
	background:#009999;
}
.story_box ul li .th_im .yellow {
	background:#d9c627;
}
.story_box ul li .th_im .heder span.arrow {
	width: 0;
	height: 0;
	background:none;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position:absolute;
	top:23px;
	right:10px
}
.story_box ul li .th_im .heder span.green {
	border-top: 8px solid #99cc00;
}
.story_box ul li .th_im .heder span.blue {
	border-top: 8px solid #009999;
}
.story_box ul li .th_im .heder span.yellow {
	border-top: 8px solid #d9c627;
}
.story_box ul li .details {
	width:193px;
	margin:0 10px;
	height:40px;
	font-size:16px;
	font-family:"FuturaMdBTMedium";
	color: #000;
}
.story_box ul li .f_us {
	margin:16px 10px;
}
.story_box ul li.green_a {
	background:url('../images/arrow_green.png') no-repeat bottom right
}
.story_box ul li.blue_a {
	background:url('../images/arrow_blue.png') no-repeat bottom right
}
.story_box ul li.yellow_a {
	background:url('../images/arrow_yellow.png') no-repeat bottom right
}
/*------------ deals ------------*/
.search_deals {
	float:left;
	margin:10px;
	border: solid 0px #0033CC;
}
.search_deals label {
	display:inlie-block;
	line-height:25px;
	font-size:14px;
	margin-right:10px
}
.search_deals label input[type="text"], .search_deals label select {
	line-height:25px;
	padding:4px 5px;
	border:1px solid #666;
	color:#fff;
	background:#666666;
	width:200px
}
.deals_menu {
	height:42px;
	margin:10px auto;
	border: solid 0px #003333;
}
.deals_menu ul {
	padding:0px 1px;
	margin:0;
	border: solid 0px #CC0000;
}
.deals_menu ul li {
	display:inline-block;
	float:left;
	line-height:30px;
	margin-right:10px;
	width: 242px;
	/*margin-right:10.8px;*/
}
.deals_menu ul li:last-child {
	display:inline-block;
	float:left;
	line-height:30px;
	margin-right:0px;
	width:235px;
}
.deals_menu ul li a {
	display:block;
	/*padding:3px 64px 3px 64px;*/
	padding:3px 63px 3px 64px;
	border:1px solid #d5d5d5;
	color:#666666;
	font-size:14px;
	background: url(../images/deals_menu.png) no-repeat bottom;
}
.deals_menu ul li a:hover, .deals_menu ul li.active a {
	background:#009899 url(../images/deals_menu_h.png) no-repeat bottom;
	color:#fff;
}
.deals_menu ul li a.home {
	background-position:20px 5px;
}
.deals_menu ul li a.fitness {
	background-position:-230px 5px;
}
.deals_menu ul li a.health {
	background-position:-470px 5px;
}
.deals_menu ul li a.diagnostic {
	background-position:-710px 5px;
}





.box_out {
	overflow:hidden;
	margin: 20px 0 0 0;
	border: solid 0px #006600;
}
.box_out .box {
	width:297px;
	height:265px;
	position:relative;
	margin:0 0px 30px 2px;
	float:left
}
.box_out .box i {
	position:absolute;
	top:0;
	left:20px;
	background:#99cc00;
	width:48px;
	height:35px;
	padding:10px 0;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-style:normal;
	font-size:16px;
	line-height:normal
}
.box_out .box .box_in {
	width:265px;
	height:205px;
	padding:15px 15px 20px 15px;
	border:1px solid #d5d5d5;
	background:#f6f6f6
}
.box_out .box .box_in img {
	display:block;
	width:265px;
	height:90px;
}
.box_out .box .box_in .header {
	margin:5px 0;
}
.box_out .box .box_in .header h5 {
	color:#009898;
	font-size:16px;
}
.box_out .box .box_in .detal {
	margin:8px 0 3px 0;
}
.box_out .box .box_in .rate {
	____margin:8px 0 0 0;
	overflow:hidden
}
.box_out .box .box_in .rate .rt {
	width:72px;
	float:left;
	height:30px;
	line-height:30px;
	font-size:18px;
	text-decoration:line-through;
	font-weight:bold;
	border: solid 0px #003399;
	text-align: left;
}
.box_out .box .box_in .rate .rt_final {
	width:66px;
	float:left;
	height:30px;
	line-height:30px;
	font-size:18px;
	color:#009898;
	font-weight:bold;
	border: solid 0px #9933CC;
	text-align: left;
}
.box_out .box .box_in .rate .cupon_btn {
	width:121px;
	height:28px;
	float:left;
	border: solid 0px #0099FF;
	margin-left:6px;
}
.box_out .box .shair {
	margin-top: 15px;
	position:relative;
	height:22px;
	float: left;
	/*width: 100%;*/
	width: 282px;
	text-align: right;
}
.box_out .box .shair img {
	display:block;
	position:absolute;
	right:0;
	height:25px;
	width:141px
}


.warning
{
	line-height:25px;
	color:#e83623;
 	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
  -webkit-transition: #e83623 1s ease-in-out;
   -moz-transition: #e83623 1s ease-in-out;
   -ms-transition: #e83623 1s ease-in-out;
   -o-transition: #e83623 1s ease-in-out;
   transition: #e83623 1s ease-in-out;
   float:left;
   width:100%;

}


.tickclass
{
	text-align:center;
	border:solid 0px red; 
	padding:5px 0px;
	width: 22px;
	float: right;
}

.health_plandv
{
	width: 296px;
	float: left;
	margin-left: 35px;
	border: solid 0px #990099;
}





td.report_card_hover {outline:none; }
td.report_card_hover strong {line-height:30px;}
td.report_card_hover:hover {text-decoration:none;} 
td.report_card_hover span {
    z-index:10;display:none; padding:10px;
    margin-top:-40px; margin-left:14px;
    width:450px; line-height:16px; font-size:10px;
}
td.report_card_hover:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fff;}
.callout_hover {z-index:20;position:absolute;top:35px;border:0;left:-12px;}
    
/*CSS3 extras*/
td.report_card_hover span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}






td.comment_hover {outline:none; }
td.comment_hover strong {line-height:30px;}
td.comment_hover:hover {text-decoration:none;} 
td.comment_hover span {
    z-index:10;display:none; padding:10px;
    margin-top:-40px; margin-left:14px;
    width:450px; line-height:16px; font-size:13px; height:100px;
}
td.comment_hover:hover span{
    display:inline; position:absolute; color:#111;
    background-image:url(../images/nutritionist/popup_img.png);
	background-repeat:no-repeat;
	width: 483px;
	height: 178px;
	z-index:1;
	margin: 0px 0px 0px 0px;
	padding: 19px 0px 0px 29px;
	text-align: left;}
.callout_comment_hover {z-index:20;position:absolute;top:35px;border:0;left:-12px;}
    
/*CSS3 extras*/
td.comment_hover span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
}




.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(../images/loader.gif) center no-repeat #fff;
}




select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}



