
.calorie_tab
{
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 464px;
	border:solid 0px red; 
	list-style-type: none;	 font-size:13px;
	text-align: left; float:left; 
}

.calorie_tab li
{
	display: inline;
	width: 116px;
	margin:0px;
	padding:0px;
	float:left;
	text-align:center;
	font-weight: bold;
	text-transform: uppercase;
}

.calorie_tab li a
{

	position: relative;
	top: 0px;
	color: #666666;
	text-decoration: none;
	width: 112px;
	margin-top:5px 0px px 0px;
	padding: 5px 0px 10px 0px;
	float:left;
	text-align:center;
}

/*.calorie_tab li a:visited
{
	color: #FFF;
}*/

.calorie_tab li a:hover
{
	text-decoration: none;
	color: #FFF;
	background-image: url(../images/nutritionist/tab_down_arrow_us.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-top:5px 0px px 0px;
	padding: 5px 0px 10px 0px;
		width: 116px;float:left; text-align:center;
}

.calorie_tab li a.selected
{ /*selected main tab style */
	position: relative;
	top: 0px;
	color: #FFF;
	background-image: url(../images/nutritionist/tab_down_arrow_us.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-decoration: none;
	width: 112px;
	margin-top:5px 0px px 0px;
	padding: 5px 0px 10px 0px;float:left; text-align:center
}

/*.calorie_tab li a.selected
{ selected main tab style 
	background-image: url(../images/shadeactive.png);
	border-bottom-color: solid 0px white;
}*/

.calorie_tab li a.selected:hover
{ /*selected main tab style */
	text-decoration: none;
}

.calorie_tabcontent
{
	display:none;
	float: left;
	width: 990px;
}

@media print
{
.hw-workstabcontent1
{
	display:block !important;
}
}


select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}