@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;

}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
html, body {
	font-family:"myriad_web_proregular";
	font-size:13px;
	color:#666666;
}
h1, h2, h3, h4, h5, h6 {
	display:block;
	font-family:"FuturaMdBTMedium"
}
h1 {
	font-size:30px;
	text-transform:uppercase
}
h2 {
	font-size:24px;
	text-transform:uppercase
}
h3 {
}
body {
	line-height:1.2
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
body {
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
}
a {
	color:#666666;
	text-decoration:none
}
a:hover {
	color:#99cc00
}
a.button {
	display:block;
	line-height:30px;
	color:#FFF;
	font-size:18px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 25px 3px 20px;
	position:relative;
	background:#009999;
	text-align:center
}
a.button span {
	width:12px;
	height:15px;
	display:block;
	position:absolute;
	right:10px;
	top:11px;
	background:url(../images/arrow_right.png) no-repeat
}
a.button:hover {
	background:#666
}
/*a.button1 {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 20px 3px 20px;
	position:relative;
	background:#009999;
}
a.button1:hover {
	background:#666
}
*/

.button1 {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 20px 3px 20px;
	position:relative;
	background:#009999;
	border:solid 0px;
	
}
.button1:hover {
	background:#666;
	color: #FFF;
}


a.button4 {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 20px 3px 20px;
	position:relative;
	background:#009999;
	
}

.button4 {
	display:block;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	position:relative;
	background:#009999;
	padding:7px 20px;
	border:solid 0px;
	margin-top:0px;
}

a.button4 span {
	width:12px;
	height:13px;
	display:block !important;
	background:#03C;
	position:absolute;
	right:5px;
	top:8px;
	background:url(../images/arrow_right.png) no-repeat !important
}

a.button4:hover {
	background:#7ca500;
}
a.button2 {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 10px;
	background:#767676;
	position:relative;
	text-align:center
}
a.button2 span {
	width:12px;
	height:13px;
	display:block !important;
	background:#03C;
	position:absolute;
	right:5px;
	top:8px;
	background:url(../images/arrow_right.png) no-repeat !important
}
a.button2:hover {
	background:#009999
}
a.buttongrey {
	display:block;
	line-height:30px;
	color:#FFF;
	font-size:18px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 25px 3px 20px;
	position:relative;
	background:#666
}
a.buttongrey span {
	width:12px;
	height:15px;
	display:block;
	position:absolute;
	right:10px;
	top:11px;
	background:url(../images/arrow_right.png) no-repeat
}
a.buttongrey:hover {
	background:#009999;
}
a.buttoncupon {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding: 3px 9px 3px 3px;
	background:#009999;
	position:relative
}

.buttoncupon {
	display:block;
	color:#FFF;
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;
	padding:0px 10px;
	background:#009999;
	position:relative;
	border:solid 0px;
	font-family:"FuturaMdBTMedium"
}
a.buttoncupon span {
	width:12px;
	height:13px;
	display:block !important;
	background:#03C;
	position:absolute;
	right: 6px;

	top:8px;
	background:url(../images/arrow_right.png) no-repeat !important
}
a.buttoncupon:hover {
	background:#767676;
	color: #FFFFFF;
}
a.buttongreen {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 20px 3px 20px;
	position:relative;
	background:#99cc00
}
a.buttongreen:hover {
	background:#666
}
a.buttonblue {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 20px 3px 20px;
	position:relative;
	background:#009999
}
a.buttonblue:hover {
	background:#666
}
a.buttonafm {
	display:block;
	line-height:30px;
	color:#FFF;
	font-size:18px;
	text-transform:uppercase;
	text-decoration:none;
	padding:4px 30px 4px 0px;
	position:relative;
	background:#009999;
	text-align:center
}
a.buttonafm span {
	width:22px;
	height:22px;
	display:block;
	position:absolute;
	right:10px;
	top:8px;
	background:url(../images/arrow_right_02.png) no-repeat
}
a.buttonafm:hover {
	background:#666
}

a.buttonQuality {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 10px;
	background:#c02c3e;
	position:relative
}
a.buttonQuality span {
	width:12px;
	height:13px;
	display:block !important;
	background:#c02c3e;
	position:absolute;
	right:5px;
	top:8px;
	background:url(../images/arrow_right.png) no-repeat !important
}
a.buttonQuality:hover {
	background:#c02c3e;
}

a.buttonreset {
	display:block;
	line-height:23px;
	color:#FFF;
	font-size:13px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 10px;
	background:#767676;
	position:relative;
	text-align:center
}
a.buttonreset span {
	width:12px;
	height:13px;
	display:block !important;
	background:#03C;
	position:absolute;
	right:5px;
	top:8px;
	background:url(../images/arrow_right.png) no-repeat !important
}
a.buttonreset:hover {
	background:#009999;
}

a.buttonsearch {
	display:block;
	line-height:23px;
	color:#FFF;
	font-size:13px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 10px;
	background:#009999;
	position:relative;
	text-align:center
}
a.buttonsearch span {
	width:12px;
	height:13px;
	display:block !important;
	background:#03C;
	position:absolute;
	right:10px;
	top:8px;
	background:url(../images/search_icon_form.png) no-repeat !important
}
a.buttonsearch:hover {
	background:#767676;
}



::selection {
background:#ccc;
}
::-moz-selection {
background:#ccc;
}



a.buttoncancle {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding:3px 20px 3px 20px;
	position:relative;
	background:#666666;
}
a.buttoncancle:hover {
	background:#99cc00
}


a.buttontext {
	display:block;
	line-height:23px;
	color:#c02c3e;
	font-size:13px;
	text-decoration:none;
	position:relative;
	text-align:center;
	font-weight: bold;
}

a.buttontext:hover {
	color:#666;
}


a.cantfindfood {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:14px;
	text-transform:none;
	text-decoration:none;
	padding:3px 10px 3px 10px;
	position:relative;
	background:#009999;
	
}

.cantfindfood {
	display:block;
	color:#FFF;
	font-size:14px;
	text-transform:none;
	text-decoration:none;
	position:relative;
	background:#009999;
	padding:7px 10px;
	border:solid 0px;
	margin-top:0px;
}

a.cantfindfood span {
	width:17px;
	height:20px;
	display:block !important;
	background:#03C;
	position:absolute;
	right:8px;
	top:4px;
	background:url(../images/calorie_setup/cantfindfood.png) no-repeat !important
}

a.cantfindfood:hover {
	background:#7ca500;
}



select
{
 border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
}



.buttoncupondeals {
	display:block;
	color:#FFF;
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;
	padding:0px 10px;
	background:#009999;
	position:relative;
	border:solid 0px;
	font-family:"FuturaMdBTMedium"
}
a.buttoncupondeals span {
	width:12px;
	height:13px;
	display:block !important;
	background:#03C;
	position:absolute;
	right: 5px;
	top:8px;
	background:url(../images/arrow_right.png) no-repeat !important
}
a.buttoncupondeals:hover {
	background:#767676;
	color: #FFFFFF;
}

a.buttoncupondeals {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding: 3px 12px 3px 3px;
	background:#009999;
	position:relative
}





.btncupondealsbot {
	display:block;
	color:#FFF;
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;
	padding:0px 5px;
	background:#009999;
	position:relative;
	border:solid 0px;
	font-family:"FuturaMdBTMedium"
}

a.btncupondealsbot {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
	padding: 3px 13px 3px 3px;
	background:#009999;
	position:relative;
	font-weight: bold;
}

a.btncupondealsbot span {
	width:12px;
	height:13px;
	display:block !important;
	background:#03C;
	position:absolute;
	right: 0px;
	top:8px;
	background:url(../images/arrow_right.png) no-repeat !important
}

a.btncupondealsbot:hover {
	background:#767676;
	color: #FFFFFF;
}





a.buttoncuponnoarrow {
	display:block;
	line-height:25px;
	color:#FFF;
	font-size:15px;
	text-transform:uppercase;
	text-decoration:none;
	padding: 3px 3px 3px 3px;
	background:#009999;
	position:relative
}

.buttoncuponnoarrow {
	display:block;
	color:#FFF;
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;
	padding:0px 10px;
	background:#009999;
	position:relative;
	border:solid 0px;
	font-family:"FuturaMdBTMedium"
}
a.buttoncuponnoarrow span {
	width:12px;
	height:13px;
	display:block !important;
	background:#03C;
	position:absolute;
	right: 6px;
	top:8px;
	background:url(../images/arrow_right.png) no-repeat !important
}
a.buttoncuponnoarrow:hover {
	background:#767676;
	color: #FFFFFF;
}