h1 {
  font-family: Helvetica;
  font-weight: 100;
}

body {
  color:#333;
  text-align:center;
  font-family: helvetica;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 14px;
  list-style: none;
}

#registered-btn:hover{
	color: #3498db;
	cursor: pointer;
}

#register-now-btn:hover{
	color: #3498db;
	cursor: pointer;
}

.editRegUser{
	text-decoration: none;
}
/* Home page */
#category {
	list-style: none;
	color: #000;
}

#category li {
	padding: 10px 8px;
	border-style: solid;
	border-width: 1px; 
	float: left;
	width: 160px;
	height: 30px;
	vertical-align: middle;
}

/* Category page navigation  */
#nav {
	list-style: none;
	color: #000;
	font-weight: bold;
}

.label{	
	padding: 8px;
	float: left;
	width: 160px;
}

.filterby{
	padding: 7px 8px;
	border-style: solid;
	border-width: 1px; 
	float: left;
	width: 160px;
}

.hover-grey:hover {
	background-color: rgb(211,211,211);
	cursor: pointer;
}

.selected {
	background-color: #3498db;
}

/* ---- sub-menu navigation divison ---- */
#sub-nav {
	padding: 1px;
	clear: both;
	display: block;
	width:100%;
	overflow: scroll;
}

.sub-menu li{
	list-style: none;
	padding: 15px 10px;
	float: left;
	width: 160px;s
}

.sub-menu li:hover {
	color: #3498db;
	cursor: pointer;
}

.subSelected {
	color: #3498db;
}

.offerType {
	display: none;
}

.subCategory {
	display: none;
}

.store {
	display: none;
}

#coupons ul {
	float : left;
	list-style-type: none;
	width: 100%;
}

#page ul li{
	list-style-type: none;
	display: inline;
	border-style: solid;
	border-width: 1px;
	padding-left: 8px;
}

.pageSelected {
	color: #3489db;
}

.pageNumbers li:hover {
	color: #3498db;
	cursor: pointer;
}

















